body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color:rgb(161, 161, 161)
}

.main-container {
    display: flex;

}

.form-container {
    padding-right: 25px;
    background-color: rgb(163, 149, 137);
}

.items-container {

    background-color: rgb(170, 135, 173);
}

.item {
    padding: 7px 10px;
    border: 1px solid black;
    margin: 3px 0;
}

.item p{
    margin: 0;
}

.delete {
    margin-left: 3px;
}