body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color:gainsboro;
}

.main-container {
    display: flex;
}

.form-container {
    padding: 0 25px;
}

.item {
    padding: 7px 10px;
    border: 1px solid rgb(94, 94, 94);
    margin: 3px 0;
}

.item p{
    margin: 0;
}

input {
    margin-bottom: 5px;
}

.delete {
    margin-left: 3px;
}